@tailwind base;
@tailwind components;
@tailwind utilities;

.pop-r {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pop-m {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.leading-base {
  line-height: 130%;
}

.link-text {
  font-size: 1.125rem;
}

.link1 {
  display: flex;
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.link2 {
  position: absolute;
  inset: 0;
  --tw-translate-y: 2rem;
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.group:hover .link1 {
  --tw-translate-y: -2rem;
  opacity: 0;
}

.group:hover .link1,
.link2 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .link2 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.fancy-hover {
  cursor: pointer;
  position: relative;
  /* color: #fcf1e4; */
}
.fancy-hover::after {
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background: grey;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
.fancy-hover:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
